.titre{
  display: table;
  height: 100px;
  text-align: center;
  width: 100%;
}

h3{
  display: table-cell;
  color: #d8364e;
  vertical-align: middle;
}

i{
  color:#d8364e;
  margin-bottom: 3px;
  margin: 4px;
  bottom: 0;
}

.coordonnées{
  text-align: end;
  bottom: 0;
}
