
<div class= "container">
  <div class= "card" >
    <div class = image >
      <img  src = https://www.beecee.fr/assets/images/jungle@2x.jpg height="200px", width="300px">
    </div>
    <div class = content>
      <h3>Assistant BeeCee</h3>
      <p> Projet de stage, création et mise en ligne d'un moteur de recherche intelligent pour l'entreprise BeeCee.</p>
      <a href="https://assistant-beecee.herokuapp.com" class="btn btn-primary">Aller voir ce site</a>
    </div>
  </div>
  <div class= "card">
    <div class = image>
      <img href = "#" src = https://upload.wikimedia.org/wikipedia/commons/f/f8/Pong.png>
    </div>
    <div class = content>
      <h3>Règles du jeu</h3>
      <p> Le jeu est inspiré du tennis de table, chaque joueur s'affronte en déplaçant la raquette virtuelle de haut en bas, de façon à garder la balle dans le terrain de jeu.
      Le joueur peut changer la direction de la balle en fonction de l'endroit où celle-ci tape sur la raquette, la vitesse de jeu augmente graduellement au cours de la partie.</p>
    </div>
  </div>
  <div class= "card">
    <div class = image>
      <img href = "#" src = https://miro.medium.com/max/512/1*Syzc_BbO0QHTx74NLHcpiQ.png>
    </div>
    <div class = content>
      <h3>Règles du jeu</h3>
      <p> Ce sont les règles du jeu</p>
    </div>
  </div>
</div>
