
<div class= "container">
  <div class= "titre">
    <h3> Quelques sites sur lesquels j'ai eu le plaisir de travailler, seule ou en groupe.</h3>
  </div>
  <div class= "containercard">
    <div class= "card" >
      <div class = image >
        <img  src = https://www.beecee.fr/assets/images/jungle@2x.jpg height="200px", width="300px">
      </div>
      <div class = content>
        <h3>Assistant BeeCee</h3>
        <p> Projet de stage, création et mise en ligne d'un moteur de recherche intelligent pour l'entreprise BeeCee.</p>
        <a href="https://assistant-beecee.herokuapp.com" class="btn btn-primary">Aller voir ce site</a>
      </div>
    </div>
    <div class= "card">
      <div class = image>
        <img  src = https://cdn.pixabay.com/photo/2015/10/16/11/40/tarot-991041_960_720.jpg height="200px", width="300px">
      </div>
      <div class = content>
        <h3>SOS magie</h3>
        <p> Un projet humouristique consistant à louer des services magiques, réalisé en groupe depuis une maquette réalisée par nos soin.</p>
        <a href="https://sos-magie.herokuapp.com/" class="btn btn-primary">Aller voir ce site</a>
      </div>
    </div>
    <div class= "card">
      <div class = image>
        <img src = https://cdn.pixabay.com/photo/2017/09/25/13/12/cocker-spaniel-2785074_960_720.jpg height="200px", width="300px">
      </div>
      <div class = content>
        <h3>New Puppy</h3>
        <p> New Puppy est un site de conseil pour les gens qui ont décidés d'accueillir un chiot prochainement ou ceux qui chechent des idées de jeu sympa avec leurs compagnons.</p>
        <a href="https://newpuppynouveauchiot.herokuapp.com/" class="btn btn-primary">Aller voir ce site</a>
      </div>
    </div>
  </div>
    <div class="coordonnées">
      <a href="https://linkedin.com/in/desiree-bigorre" ><i class="fa-brands fa-linkedin fa-8x" ></i></a>
      <a href="https://github.com/DBigorre" ><i class="fa-brands fa-github fa-8x" ></i></a>
    </div>
</div>
