
<div class= "container">
  <div class= "card" >
    <div class = image >
      <img  src = https://www.beecee.fr/assets/images/jungle@2x.jpg height="200px", width="300px">
    </div>
    <div class = content>
      <h3>Assistant BeeCee</h3>
      <p> Projet de stage, création et mise en ligne d'un moteur de recherche intelligent pour l'entreprise BeeCee.</p>
      <a href="https://assistant-beecee.herokuapp.com" class="btn btn-primary">Aller voir ce site</a>
    </div>
  </div>
  <div class= "card">
    <div class = image>
      <img  src = https://parade.com/wp-content/uploads/2021/10/Tarot-Cards-Feat.jpg height="200px", width="300px">
    </div>
    <div class = content>
      <h3>SOS magie</h3>
      <p> Un projet humouristique consistant à louer des services magiques, réalisé en groupe depuis une maquette réalisée par nos soin.</p>
      <a href="https://sos-magie.herokuapp.com/" class="btn btn-primary">Aller voir ce site</a>
    </div>
  </div>
  <div class= "card">
    <div class = image>
      <img src = https://miro.medium.com/max/512/1*Syzc_BbO0QHTx74NLHcpiQ.png height="200px", width="300px">
    </div>
    <div class = content>
      <h3>Règles du jeu</h3>
      <p> Ce sont les règles du jeu</p>
    </div>
  </div>
</div>
